/* Header Styles */
header {

    margin-top: 200px;
    text-align: left;
}

h2 {
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 200px;
    color: #BAD055;
    letter-spacing: 6px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;


    /* Adds space below each header */
}

h3 {
    margin-bottom: 40px;
    margin-left: 360px;
}

h4 {
    margin-bottom: 40px;
    margin-left: 360px;
}

h1 {
    margin-top: 240px;
    margin-bottom: 20px;
    margin-left: 200px;
    color: #BAD055;
    letter-spacing: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}



body {
    font-family: 'Space Mono', serif;
    font-weight: 400;
    background: radial-gradient(circle, #000000, #627EA8, #000000);
    background-color: #627EA899;
    color: #F8F6F5;
    font-size: 16px;
    /* Base font size */
    line-height: 1.6;
    /* Line spacing for better readability */
    min-height: 8000px;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 24px;
    /* Large font size for the heading */
    max-width: 1600px;
    text-align: left;
    /* Limit the heading's width */
}

h2 {
    font-size: 12PX;
    max-width: 1600px;
}

h3 {
    font-size: 20PX;
    max-width: 1600px;
    font-family: 'Roboto Mono', serif;
    font-weight: 400;
}

h4 {
    font-size: 16PX;
    max-width: 1600px;
    font-family: 'Roboto Mono', serif;
    font-weight: 400;
    color: #BAD055;

}

p {
    font-size: 16PX;
    max-width: 1200px;
    margin-left: 360px;
    font-family: 'Roboto Mono', serif;
}

/* Styling the top navigation menu */
.top-nav {

    /* Dark background */
    padding: 40px 0;
    /* Space above and below the links */
    position: fixed;
    /* Fixes the menu to the top of the page */
    width: 90%;
    /* Make the menu span the entire width */
    top: 0;
    /* Position it at the top of the page */
    left: 0;
    right: 20;
    z-index: 1000;
    /* Ensures it stays on top of other elements */
}

/* Styling the unordered list */
.top-nav ul {
    list-style: none;
    /* Remove bullets from list */
    display: flex;
    /* Arrange items horizontally */
    /* justify-content: right;*/
    /* Center the items */
    justify-content: flex-end;
    padding: 0;
    margin: 0;

    /* Styling each list item */
    .top-nav ul li {
        list-style: none;
        margin: 0 40px;
        /* Space between the items */
    }
}

/* Styling the links */
.top-nav ul li a {
    color: white;
    /* White text */
    text-decoration: none;
    /* Remove underline */
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    /* Font size */
    /*   text-transform: uppercase;
    /* Uppercase text */
    letter-spacing: 4px;
    padding: 24px 24px;
    margin-right: 0;
    /* Spacing between letters */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}


/* Hover effect for the links */
.top-nav ul li a:hover {
    color: #BADA55;
}

a {
    color: #F8F6F5;
    text-decoration: none;
    margin-right: 10px;
    /* Adds space between the links */
}

a:hover {
    color: #BAD055;
}