/* General Styles */
body {
    background-color: #F8F6F5;
    color: #627EA8;
    font-family: 'Nunito Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/* Header Styles */
header {
    background-color: #F8F6F5;
    color: #627EA8;
    padding: 60px;
    text-align: left;
    /*background: radial-gradient(circle, #faffd2, #d1a1d3, #627EA8);*/
}

h2 {
    margin-top: 0px;
    margin-bottom: 80px;


    /* Adds space below each header */
}

h3 {
    margin-bottom: 80px;
}

h1 {
    margin-top: 180px;
    margin-bottom: 0px;
    /*  font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    Use the weight you imported */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-left: 100px;
    /* Adds 20px of padding to the left of all headers */
}

body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-weight: 400;
    background-color: #F8F6F5;
    color: #627EA8;
    font-size: 16px;
    /* Base font size */
    line-height: 1.6;
    /* Line spacing for better readability */
    min-height: 2000px;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 68px;
    /* Large font size for the heading */
    max-width: 1600px;
    /* Limit the heading's width */
}

h2 {
    font-size: 38PX;
    max-width: 1000px;
}

h3 {
    font-size: 28PX;
    max-width: 1200px;
}

h4 {
    font-size: 10PX;
    max-width: 900px;
}



p {
    font-size: 28px;
    /* Adjusted font size for paragraph */
    max-width: 800px;
    /* Constrain the text length */
    line-height: 1.8;
    /* Line spacing for readability */
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align to the left */
    gap: 80px;
}

.container img {
    width: 800px;
    height: auto;
    padding-left: 120px;
}

.container p {
    font-size: 28px;
    color: #627EA8;
    text-align: left;
    /* Align text to the left */
    margin: 0;
    /* Remove any default margin */
    max-width: 500px;
    /* Control the paragraph width */
}


/* Change the link color */
a {
    color: #BADA55;
    /* Color for normal links */
    text-decoration: none;
    /* Remove the underline */
}

/* Change the color when the link is visited */
a:visited {
    color: #BADA55;
    /* Color for visited links */
}

/* Change the color when the link is hovered */
a:hover {
    color: #627EA8;
    /* Color for links on hover */
}

/* Change the color when the link is active (being clicked) */
a:active {
    color: #F8F6F5;
    /* Color for active links */
}


/* Footer Styles */
footer {
    background-color: #F8F6F5;
    color: #627EA8;
    text-align: right;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Main Content Styles */
main {
    padding: 20px;
}